@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Get to Know Joel";
}
<header>
    <h1>Get to Know Joel</h1>
</header>
<section class="about">
    <h2>About Joel</h2>
    <p>Joel Hilton is very into film. So into film, in fact, that he minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about films & pop culture called Baconsale.</p>
</section>
<section class="links">
    <h2>Links</h2>
    <ul>
        <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where he performs regularly)</li>
        <li><a href="https://baconsale.com/">Baconsale</a> (his weekly podcast)</li>
    </ul>
</section>
<section class="photo">
    <a href="https://baconsale.com/"><img src="~/lib/img/BaconsaleKate.jpg" alt="Joel Hilton" /></a>
</section>