@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Joel's film collection site</h3>
    <img src="~/lib/img/JoelHiltonHeadshot.jpg" />
</div>
